#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #b8312f;
}
#menu-0 .mbr-navbar__hamburger {
  color: #41a85f;
}
#header1-1 H1 {
  text-align: left;
}
#msg-box5-6 .mbr-header__text {
  color: #000000;
}
#msg-box5-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-6 .mbr-article {
  color: #ffffff;
}
